{% extends 'base.html' %}

{% block content %}

<!-- TITLE -->
<div style="text-align:center; margin-top:40px;">

    <h1>📚 My Library System</h1>

    {% if user.is_authenticated %}
        <h2>
            👋 Xush kelibsiz,
            {{ user.first_name|default:user.username }}
        </h2>
    {% endif %}

</div>


<!-- DASHBOARD CARDS -->
<div style="
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:50px;
    flex-wrap:wrap;
">

    <!-- BOOKS -->
    <a href="{% url 'book_list' %}" style="text-decoration:none;">
        <div style="
            padding:25px;
            border-radius:12px;
            width:180px;
            text-align:center;
            background:white;
            box-shadow:0 4px 10px rgba(0,0,0,0.1);
            transition:0.3s;
        "
        onmouseover="this.style.transform='scale(1.05)'"
        onmouseout="this.style.transform='scale(1)'">

            <h3>📚 Books</h3>
            <p>Browse all books</p>

        </div>
    </a>


    <!-- AUTH -->
    <a href="{% url 'login' %}" style="text-decoration:none;">
        <div style="
            padding:25px;
            border-radius:12px;
            width:180px;
            text-align:center;
            background:white;
            box-shadow:0 4px 10px rgba(0,0,0,0.1);
            transition:0.3s;
        "
        onmouseover="this.style.transform='scale(1.05)'"
        onmouseout="this.style.transform='scale(1)'">

            <h3>🔐 Auth</h3>
            <p>Login / Register</p>

        </div>
    </a>


    <!-- CART -->
    <a href="{% url 'cart_view' %}" style="text-decoration:none;">
        <div style="
            padding:25px;
            border-radius:12px;
            width:180px;
            text-align:center;
            background:white;
            box-shadow:0 4px 10px rgba(0,0,0,0.1);
            transition:0.3s;
        "
        onmouseover="this.style.transform='scale(1.05)'"
        onmouseout="this.style.transform='scale(1)'">

            <h3>🛒 Cart</h3>
            <p>Your shopping cart</p>

        </div>
    </a>


    <!-- MY BOOKS -->
    <a href="{% url 'my_books' %}" style="text-decoration:none;">
        <div style="
            padding:25px;
            border-radius:12px;
            width:180px;
            text-align:center;
            background:white;
            box-shadow:0 4px 10px rgba(0,0,0,0.1);
            transition:0.3s;
        "
        onmouseover="this.style.transform='scale(1.05)'"
        onmouseout="this.style.transform='scale(1)'">

            <h3>📖 My Books</h3>
            <p>Sotib olingan kitoblar</p>

        </div>
    </a>

</div>

{% endblock %}