{% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center;">All Books</h1>

{% if user.is_authenticated %}

<ul style="list-style:none; width:50%; margin:auto;">
    {% for book in page_obj %}
        <li style="padding:10px; border-bottom:1px solid #ddd;">
            {{ book.title }} - {{ book.author }} - ${{ book.price }}
        </li>
    {% empty %}
        <li>No books found</li>
    {% endfor %}
</ul>

{% else %}
    <p style="text-align:center;">Login qiling 🔒</p>
{% endif %}

{% endblock %}