{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-4 mx-auto"
         style="max-width:600px; border-radius:20px;">

        <h2 class="text-center mb-4">

            {% if form.instance.pk %}
                ✏️ Update Book
            {% else %}
                ➕ Add Book
            {% endif %}

        </h2>

        <!-- 🔥 MUHIM -->
        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_p }}

            <div class="text-center mt-4">

                <button type="submit"
                        class="btn btn-success px-4">

                    Save

                </button>

                <a href="{% url 'book_list' %}"
                   class="btn btn-secondary px-4">

                    Cancel

                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}